.product-card{
	min-width: 25%;
	height: 340px;
	flex: 15%;
	margin: 0 30px 30px 0;
	border-radius: 3px;
	border: 2px solid #F5F8F3;
	-webkit-box-shadow: 10px 10px 25px 0px rgba(224,208,224,1);
	-moz-box-shadow: 10px 10px 25px 0px rgba(224,208,224,1);
	box-shadow: 10px 10px 25px 0px rgba(224,208,224,1);
}

.product-productImg{
	width: 97%;
	height: 55%;
	padding: 4px;
}

.product-brandName,
.product-price{
	text-align: center;
	margin: 0;
	font-size: 16px;
	padding-bottom: 4px;
}

.product-price{
	font-size: 1rem;
	font-weight: 500;
}

.product-productName,
.product-packageDetail{
	font-size: 15px;
	text-align: center;
	margin: 0;
	padding-bottom: 5px;
}

.button-parent{
	display: block;
	padding:0 0 10px 20px;
	margin-left: 15px;
}

.button-parent span:nth-of-type(even){
	font-size: 16px;
	text-align: center;
	background-color:#aecdd4;
	color:#eaeef2;
	font-weight:500;
	display: inline-block;
	padding: 5.7px 0 1px 0;
	width: 90px;
	height: 30px;
   
} 
.button-parent span:nth-of-type(odd){
	visibility: hidden;
	display: inline-block;
	text-align: center;
	background-color: #508b99;
	width:30px;
	height:30px;
	padding:5.5px 2px 1px 5px;
}

.button-parent button{
	font-size: 16px;
	border:none;
	padding:0;
	color: #eaeef2;
	outline: none;
	cursor:pointer;
}

.button-parent span:nth-of-type(odd) button{
background-color: #508b99;
}

.button-parent	span:nth-of-type(even) button{
background-color: #aecdd4;
}

 